<div style="margin: 3rem 5rem 0 5rem;">

  <h2 style="margin-bottom: 0%;">Consultas</h2>
  <hr color="blue" style="margin: 0%;">

  <div style="margin-top: 1rem;">

    <div>

      <mat-form-field appearance="fill">
        <mat-label>Seleccione una fecha</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <span class="example-fill-remaining-space" style="margin-left:1rem"></span>

    <span>

      <a mat-mini-fab color="primary">
          <mat-icon>search</mat-icon></a>
      </span>

      <span class="example-fill-remaining-space" style="margin-left:1rem"></span>


      <form class="example-form" style="display:inline">
        <mat-form-field class="example-full-width">
          <mat-label>ID afiliado</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </form>

      <span class="example-fill-remaining-space" style="margin-left:1rem"></span>

        <span>
        <a mat-mini-fab color="primary">
            <mat-icon>search</mat-icon></a>
        </span>

    </div>


  </div>

<div class="wrapper">

  <!-- <h1>
    Mat Table Example with Expnad Collapse
  </h1>
  <button (click)="manageAllRows(true)">Expand All</button>
  <button (click)="manageAllRows(false)">Collpase All</button> -->

  <table mat-table [dataSource]="affiliatesHome" multiTemplateDataRows class="mat-elevation-z8">




    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}}</th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>


    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'">
          <table class="detail-table">
           <tr>
              <th>Id</th>
              <th>fecha</th>
              <th>hora</th>
              <th>Nombre de la prueba</th>
            </tr>
            <tr>

              <td >{{this.appointments|json}}</td>
              <td>{{this.appointments}}</td>
              <td>{{this.appointments}}</td>
              <td>{{this.appointments}}</td>
          </tr>
          </table>
        </div>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="element.expanded" (click)="toggleRow(element, element.idAffiliate)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</div>

