<div style="margin: 3rem 5rem 0 5rem;">

  <h2 style="margin-bottom: 0%;">Consultas</h2>
  <hr color="blue" style="margin: 0%;">

  <div style="margin-top: 1rem;">

    <div>

      <mat-form-field appearance="fill">
        <mat-label>Seleccione una fecha</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <span class="example-fill-remaining-space" style="margin-left:1rem"></span>

    <span>

      <a mat-mini-fab color="primary">
          <mat-icon>search</mat-icon></a>
      </span>

      <span class="example-fill-remaining-space" style="margin-left:1rem"></span>


      <form class="example-form" style="display:inline">
        <mat-form-field class="example-full-width">
          <mat-label>ID afiliado</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </form>

      <span class="example-fill-remaining-space" style="margin-left:1rem"></span>

        <span>
        <a mat-mini-fab color="primary">
            <mat-icon>search</mat-icon></a>
        </span>

    </div>


  </div>

<div class="wrapper">

  <table mat-table [dataSource]="affiliatesHome" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index" style="text-align: left">
        <a> <mat-icon>expand_more</mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="idAffiliate">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idAffiliate}} </td>
    </ng-container>

    <ng-container matColumnDef="name" style="width: 232px;">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
    </ng-container>



    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <div class="example-container mat-elevation-z8" style="width: 1000px">
            <mat-table #table [dataSource]="appointments" >

              <ng-container matColumnDef="expand_second">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element">  </mat-cell>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Id cita </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="hora">
                <mat-header-cell *matHeaderCellDef> Hora </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.hora}} </mat-cell>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="idTest">
                <mat-header-cell *matHeaderCellDef> Nombre de prueba </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.idTest.name}} </mat-cell>
              </ng-container>



          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

        </div>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="element.expanded" (click)="toggleRow(element, element.idAffiliate)"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</div>

