<div style="margin: 3rem 5rem 0 5rem;">

    <h2 style="margin-bottom: 0%;">Afiliados- Nuevo afiliado</h2>
    <hr color="blue" style="margin: 0%;">

  <div style="margin-top: 1rem;">

        <form class="example-form" style="display:inline">
          <mat-form-field class="example-full-width">
            <mat-label>Nombre completo</mat-label>
            <input matInput placeholder="">
          </mat-form-field>
        </form>

        <span class="example-fill-remaining-space" style="margin-left:5rem"></span>


        <form class="example-form" style="display:inline">
          <mat-form-field class="example-full-width">
            <mat-label>Edad</mat-label>
            <input matInput placeholder="" value="">
          </mat-form-field>
        </form>

        <span class="example-fill-remaining-space" style="margin-left:5rem"></span>


        <form class="example-form" style="display:inline">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" value="">
          </mat-form-field>
        </form>

        <span class="example-fill-remaining-space" style="margin-left:1rem"></span>


  </div>


    <span>
      <button mat-raised-button color="primary" style="margin-left: 55rem;" >Guardar</button>
      <button mat-raised-button color="warn" style="margin-left: 1rem;">Cancelar</button>
    </span>

</div>


